<style>

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    
  
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
    background-color:rgba(245, 232, 250, 0.877);
    font-family: Verdana, Tahoma, sans-serif;
    margin-left:5em;
    text-align:start;
    background-image: url(https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-blend-mode: lighten;




</style>